*, *::after, *::before 
{ margin: 0; padding: 0; box-sizing: border-box; }
html, body 
{ height: 100%; }
body 
{ background: #141414; color: #bebebe; }
:root{
    color: #141414; color: #313131; color: #575757; color: #aaaaaa; color: #bebebe; color: #dfdfdf;
    --far_background: #141414; --close_background: #313131; --active_background: #575757; --bright_white: #aaaaaa; --text_active: #bebebe; --text_regular: #dfdfdf;
}


.input_window{
    background-color: #313131;
    color: #dfdfdf; 
    width: 100%;
    height: 45%;
    padding: 20px;

    z-index: 2;

    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(6, 16.6%);

    font-family: Arial, Helvetica, sans-serif;

}

.input_window input{
    height: 100%;
    width: 100%;
    
    background-color: #575757;
    color: #dfdfdf; 

    border: 1px solid #aaaaaa;
    padding: 5px;

    font-family: Arial, Helvetica, sans-serif;

}

.input_window input::placeholder{
    color: #aaaaaa;
}

.input_window input:hover, .input_window input:focus{
    background-color: #aaaaaa;
    color: #313131;

    
}

.input_window input:hover::placeholder, .input_window input:focus::placeholder{
   color: #313131;
    
}

.input_window .launch{
    

}

.input_window p{
    text-align: right;
    margin: auto 0;
    margin-right: 20px;

}

.sim{
    height: 100%;
    z-index: 1;

}

.projectile{
    height: 35px;
    width: 35px;

    background-color: blue;
    border: 2px solid white;
    border-radius: 100%;

    position: absolute;

    z-index: 0;

    transition: left 2000ms linear,
                bottom 2000ms linear;
}

.display_projections{
    height: 120px;
    width: 120px;

    background-color: #575757;

    position: absolute;

}

.display_projections .center{
    background-color: red;
    height: 5px;
    width: 5px;

    margin: 57.5px;
}

.display_projections .vertical{
    background-color: greenyellow;
    display: block;
    height: 15px;
    width: 2.5px;

    position: absolute;

    transform-origin: center center;

}

.display_projections .horisontal{
    background-color: lightskyblue;
    display: block;
    height: 2.5px;
    width: 15px;

    position: absolute;

    transform-origin: center center;
}